# OS
.DS_Store
Thumbs.db

# Editor & entorno
.vscode/
*.code-workspace

# Dependencias y builds (por si agregás tooling)
node_modules/
dist/
build/
out/
.cache/
coverage/
*.log
npm-debug.log*

# Archivos temporales
*.tmp
*.swp
*.swo

# Sistema
.idea/
*.iml
